*{
    padding: 0;
    margin: 0;
    color: #40dbf0;
    text-align: center;
}

html, body{

    background-color: #68e08c;

}

.main-container{
    border: 4px solid rgb(255, 48,275);
    border-radius: 60px;
    margin: 10rem;
    background-color: rgb(149, 207, 188);
}


nav, section, footer, aside, article{
    border: 2px solid #6e866e;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

article, aside{
    width: 40%;
    display: inline-block;
    height: 300px;
    background-color: antiquewhite;
}

nav, footer, section{
    background-color: blue;
}
